// Navigation code here
.navigation{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    h1{
        font-size: 2rem;
        padding-bottom: 10px;
    }
    a{
        padding: 20px;
        text-decoration: none;
        color: black;
        
    }
}
.main-header{
    .main{
        width: 100%;
        padding: 0 40px;
        border-radius: 2rem;
   }
   @media screen and (max-width: 500px){
    .main{
        width: 50%;
        border: 5px solid black;
    }
}

